<!-- Modal -->
<div
  class='modal fade'
  id='loginModal'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content p-4'>
      <div class='modal-body'>
        <button
          type='button'
          class='close'
          data-dismiss='modal'
          aria-label='Close'
        >
          <span aria-hidden='true'>&times;</span>
        </button>

        <div class='modal-title mb-4 font-weight-bold text-center h2'>
          Sign in
        </div>

        <form action='/users/login' method='post'>
          <div class='form-group'>
            <input
              type='email'
              class='form-control my-4'
              id='modal-email'
              aria-describedby='emailHelp'
              placeholder='Email'
              name='email'
            />
          </div>
          <div class='form-group'>
            <input
              type='password'
              class='form-control my-4'
              id='modal-surname'
              aria-describedby='emailHelp'
              placeholder='Password'
              name='password'
            />
          </div>
          <input
            type='submit'
            value='Sign IN'
            class='btn text-center w-100 h2'
            id='join-us'
            style='background-color: var(--mainColorOrange)'
          />
        </form>
      </div>
    </div>
  </div>
</div>