<footer class='row m-0'>
  <div class='col-md-12'>
    <div class='row justify-content-center'>
      <div class='col-8 col-sm-6 col-md-4 col-lg-3 p-0'>
        <div class='jumbotron text-center text-main bg-transparent'>
          <h2 class='h3 follow-us-title mb-4'>Follow us on social media</h2>
          <div class='icons'>
            <div class='icon mt-3'>
              <img
                src='/images/facebook.png'
                alt='facebook'
                class='img-fluid'
              />
            </div>
            <div class='icon mt-3'>
              <img src='/images/twitter.png' alt='twitter' class='img-fluid' />
            </div>
            <div class='icon mt-3'>
              <img src='/images/Vector.png' alt='instagram' class='img-fluid' />
            </div>
            <div class='icon mt-3'>
              <img
                src='/images/instagram.png'
                alt='instagram'
                class='img-fluid'
              />
            </div>
            <div class='icon mt-3'>
              <img
                src='/images/youtube.png'
                alt='instagram'
                class='img-fluid'
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-12 m-0 p-0'>
    <div class='jumbotron jumbotron-fluid text-white p-4 m-0 footer-info'>
      <div class='container'>
        <div class='row py-4'>
          <div class='col-md-6'>
            <div>
              <img src='/images/footer-logo.png' alt='logo' />
            </div>
          </div>
          <div class='col-md-6'>
            <div class='row'>
              <div class='col-md-4'>
                <h3 class='h4 mb-5'>Popular</h3>
                <p class='mb-4 footer-list'><a
                    href='#'
                    class='text-white text-decoration-none'
                  >A second item</a></p>
                <p class='mb-4 footer-list'><a
                    href='#'
                    class='text-white text-decoration-none'
                  >A third item</a></p>
                <p class='mb-4 footer-list'><a
                    href='#'
                    class='text-white text-decoration-none'
                  >And fifth one</a></p>
              </div>
              <div class='col-md-4'>
                <h3 class='h4 mb-5'>Information</h3>
                <p class='mb-4 footer-list'><a
                    href='#'
                    class='text-white text-decoration-none'
                  >A second item</a></p>
                <p class='mb-4 footer-list'><a
                    href='#'
                    class='text-white text-decoration-none'
                  >A third item</a></p>
                <p class='mb-4 footer-list'><a
                    href='#'
                    class='text-white text-decoration-none'
                  >And fifth one</a></p>
              </div>
              <div class='col-md-4'>
                <h3 class='h4 mb-5'>Help</h3>
                <p class='mb-4 footer-list'><a
                    href='#'
                    class='text-white text-decoration-none'
                  >A second item</a></p>
                <p class='mb-4 footer-list'><a
                    href='#'
                    class='text-white text-decoration-none'
                  >A third item</a></p>
                <p class='mb-4 footer-list'><a
                    href='#'
                    class='text-white text-decoration-none'
                  >And fifth one</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>