<html lang="en">

  <!-- Css -->
  <link rel="stylesheet" href="/css/slider.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <body>
    <header
      class="position-fixed fixed-top"
      style="border-bottom: 2px solid whitesmoke"
    >
      <div class="container">
	    {{> site-nav}}
      </div>
    </header>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content p-4">
          <div class="modal-body">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-title mb-4 font-weight-bold text-center h2">
              Join Us
            </div>

            <form>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control my-4"
                  id="modal-firstname"
                  aria-describedby="emailHelp"
                  placeholder="Enter Name"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control my-4"
                  id="modal-surname"
                  aria-describedby="emailHelp"
                  placeholder="Enter Surname"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control my-4"
                  id="modal-email"
                  aria-describedby="emailHelp"
                  placeholder="Enter Email"
                />
              </div>
              <button
                type="button"
                class="btn text-center w-100 h2"
                id="join-us"
                style="background-color: var(--mainColorOrange)"
              >
                Join
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Main section -->
    <main class="my-5 pt-5 text-main catalog-section">
      <div class="container height-vh">
        <p style="margin-top: 5%; font-size: 25px; font-weight: 500">
          All books
        </p>

        <section
          class="types col-12 col-sm-12 col-md-12"
          style="
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: 400px;
            overflow-x: scroll;
          "
        >
          <ul class="type-list" style="display: flex; border-color: red">
            <li>
              <a class="types-list" id="crime" href="#">Crime</a>
            </li>
            <li>
              <a class="types-list" id="detective" href="#">Detective</a>
            </li>
            <li>
              <a class="types-list" id="adventures" href="#">Adventures</a>
            </li>
            <li>
              <a class="types-list" id="fantastic" href="#">Fantastic</a>
            </li>
            <li>
              <a class="types-list" id="horror" href="#">Horror</a>
            </li>

            <li>
              <a class="types-list" id="motivational" href="#">Motivational</a>
            </li>

            <li>
              <a class="types-list" id="drama" href="#">Drama</a>
            </li>

            <li>
              <a class="types-list" id="thriller" href="#">Thriller</a>
            </li>

            <li>
              <a class="types-list" id="tragedy" href="#">Tragedy</a>
            </li>
          </ul>
        </section>

        <div class="row mt-5 mb-5">
          <div
            class="col-lg-9 col-md-10 col-10"
            id="all-categories"
            style="display: block; margin: auto; font-size: 25px"
          >
            <div id="all-books-slick"></div>
            <div class="d-none" id="crime-slick"></div>
            <div class="d-none" id="detective-slick"></div>
            <div class="d-none" id="adventures-slick"></div>
            <div class="d-none" id="fantastic-slick"></div>
            <div class="d-none" id="drama-slick"></div>
            <div class="d-none" id="horror-slick"></div>
            <div class="d-none" id="thriller-slick"></div>
            <div class="d-none" id="motivational-slick"></div>
            <div class="d-none" id="tragedy-slick"></div>
          </div>
        </div>
        <div class="row mt-5 pt-5">
          <div
            class="col-lg-9 col-md-10 col-10"
            style="display: block; margin: auto"
          >
            <h2 class="text-center" id="bestseller" style="font-size: 25px">
              Bestseller
            </h2>
            <div class="items best-seller d-flex"></div>
          </div>
        </div>
      </div>
    </main>
    <!--READ MORE-->

    <main class="my-5 pt-5 text-main d-none read-more-section">
      <div class="container height-vh mt-5 pt-5">
        <div class="row justify-content-around">
          <div class="col-sm-12 col-md-5">
            <button
              class="btn back-btn"
              style="color: #fff; background-color: var(--mainColorOrange)"
              id="back-to-previous-ection"
            >
              ← back
            </button>
            <div class="mt-5">
              <span class="badge badge-primary" id="public-year"></span>
            </div>
            <h3 class="h3" id="book-name"></h3>
            <p id="author-name"></p>
            <p id="introduction"></p>
          </div>
          <div class="col-sm-12 col-md-6">
            <img
              src=""
              alt="book"
              class="img-fluid d-block ml-auto book-img rounded"
              style="height: 661px"
            />
          </div>
        </div>
      </div>

      <!-- READ MORE SECTION END -->
    </main>
    

    <script
      src="https://code.jquery.com/jquery-3.6.0.js "
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin=" anonymous "
    ></script>
    <script
      type="text/javascript "
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js "
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js "
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF "
      crossorigin="anonymous "
    ></script>
    <script type="module" src="/script/catalog.js"></script>
  </body>
</html>