<!DOCTYPE html>
<html lang="en">


<!-- Css -->
<link rel="stylesheet" href="/css/style.css" />

<body>
    <header class="position-fixed fixed-top" style="border-bottom: 2px solid whitesmoke">
        <div class="container">
	      {{> site-nav}}
        </div>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content p-4">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span> aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title mb-4 font-weight-bold text-center h2">
                        Join Us
                    </div>
                    <form action="/join" method="post">
                      <div class="form-group">
                          <input type="text" class="form-control my-4" name="join_name"  aria-describedby="emailHelp" placeholder="Enter Name">
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control my-4" name="join_surname" aria-describedby="emailHelp" placeholder="Enter Surname">
                      </div>
                      <div class="form-group">
                          <input type="email" class="form-control my-4" name="join_email" aria-describedby="emailHelp" placeholder="Enter Email">
                      </div>
                      <button type="button" class="btn text-center  w-100 h2" id="join-us" style="background-color: var(--mainColorOrange)">Join</button>
                  </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Main section -->
    <main class="my-5 pt-5 text-main">
        <div class="container height-vh mt-5 pt-5">
            <form action="/contact/contactus" method="post">
                <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="name" placeholder="Name" style="height: 75px;" />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="surname" placeholder="Surname" style="height: 75px;" />
                </div>
                </div>
                <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="email" class="form-control" name="email" placeholder="E-mail" style="height: 75px;" />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="phone" placeholder="Phone" style="height: 75px;" />
                </div>
            </form>
        </div>
        <button type="submit" class="btn text-white col-12 col-sm-12 col-md-6 " id="send-button" style="background-color: var(--mainColorOrange); height: 75px;">Send</button>
    </main>


    <script type="module" src="/script/main.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>